/* 1. Style header/footer <div> so they are positioned as desired. */
#header-left {
    position: absolute;
    top: 0%;
    left: 0%;
}
#header-right {
    position: absolute;
    top: 0%;
    right: 0%;
}
#footer-left {
    position: absolute;
    bottom: 0%;
    left: 0%;
    padding-bottom: 20px;
    padding-left: 20px;
}

#footer-right {
    position: absolute;
    bottom: 0%;
    right: 100px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.reveal .baltimore-logo{
    max-width:60%;
}
